*{
    box-sizing:border-box;
}

body {
    margin:0;
}

.header {
    background-color: #2196f3;
    color:white;
    text-align: center;
    padding: 15px;
}

.column {
    float:left;
    padding: 15px;
}

.content {
    width: 75%;
}